# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- Introduction to jupyter notebook
- Introduction to R language
- Intriduction to Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. GGplot
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Vs code|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
a = 4 
b = 9
print(a+b)
print(a-b)
print(a*b)

13
-5
36

This a simple arithmetic expression to mutiply then add integers

In [5]:
c = (3*4)+5

In [6]:
print(c)

17

 This will convert 200 minutes to hours by diving by 60

In [8]:
minutes = 200
print(minutes/60)

3.3333333333333335

## Author
Nav verma